<%- include("partials/header"); -%>



<div class="container mt-5">

  <section class="hero" id="home">
    <main class="content">
      <h1>create your personal writing on this website!</h1>
      <a href="/compose" class="cta">Buat Sekarang</a>
    </main>
  </section>
</div>

<%- include("partials/footer"); -%>